* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

.solarSystem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sun {
  position: absolute;
  height: 5em;
  width: 5em;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: yellow;
  -webkit-box-shadow: 0 0 20px 8px rgba(212, 95, 17, 1);
  -moz-box-shadow: 0 0 20px 8px rgba(212, 95, 17, 1);
  box-shadow: 0 0 20px 8px rgba(212, 95, 17, 1);
}

.mercury::before,
.venus::before,
.earth::before,
.moon::before,
.mars::before,
.jupiter::before,
.saturn::before,
.uranus::before,
.neptune::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.mercury {
  position: absolute;
  height: 7em;
  width: 7em;
  border-style: solid;
  border-color: #ccc;
  border-radius: 5px 5px 0 0;
  border-radius: 50%;
  animation: orbit 88s linear infinite;
}
.mercury::before {
  margin-top: 0.45em;
  margin-left: 0.3em;
  height: 1.2em;
  width: 1.2em;
  background-color: #c0c0c0;
}

.venus {
  position: absolute;
  height: 14em;
  width: 14em;
  border-style: solid;
  border-color: #ccc;
  border-radius: 5px 5px 0 0;
  border-radius: 50%;
  animation: orbit 225s linear infinite;
}
.venus::before {
  margin-top: 2.6em;
  margin-bottom: 0.3em;
  height: 1.6em;
  width: 1.6em;
  background-color: orange;
}

.earth {
  position: absolute;
  height: 20em;
  width: 20em;
  border-style: solid;
  border-color: #ccc;
  border-radius: 5px 5px 0 0;
  border-radius: 50%;
  animation: orbit 365s linear infinite;
}
.earth::before {
  margin-top: 5em;
  margin-bottom: 0.3em;
  height: 1.8em;
  width: 1.8em;
  background: radial-gradient(
        ellipse at 50% 50%,
        rgb(69 255 144 / 0) 0%,
        50%,
        rgb(42 100 151 / 1) 50%,
        52.94%,
        rgb(13 42 66 / 1) 100%
      )
      0% 0% / 100% 100% no-repeat no-repeat,
    /* Mask */
      radial-gradient(
        ellipse at 100% 100%,
        rgb(0 0 0 / 0.41) 0%,
        24.72%,
        rgb(0 0 0 / 0) 65.2%
      )
      55.17% 54.48% / 71% 71% no-repeat no-repeat,
    /* Shade */
      radial-gradient(
        ellipse at 100% 100%,
        rgb(0 0 0 / 0.3) 0%,
        50%,
        rgb(0 0 0 / 0) 71.29%
      )
      67.94% 70.14% / 58.2% 57.8% no-repeat no-repeat,
    /* Shade */
      radial-gradient(
        ellipse at 50% 50%,
        rgb(255 255 255 / 0.28) 0%,
        14.69%,
        rgb(255 255 255 / 0) 68.07%
      )
      28.65% 28.4% / 31.6% 32.4% no-repeat no-repeat,
    /* Shine */
      radial-gradient(
        ellipse at 50% 50%,
        rgb(255 255 255 / 0) 0%,
        65.56%,
        rgb(255 255 255 / 0.49) 68.07%
      )
      51.59% 52.71% / 74.8% 74.2% no-repeat no-repeat,
    /* Shine */
      radial-gradient(
        ellipse at 0% 100%,
        rgb(0 224 90 / 1) 0%,
        50%,
        rgb(69 168 255 / 0) 54.81%
      )
      17.93% 71.94% / 20.8% 28% no-repeat no-repeat,
    /* Land */
      radial-gradient(
        ellipse at 50% 50%,
        rgb(0 224 90 / 1) 0%,
        50%,
        rgb(69 168 255 / 0) 54.81%
      )
      85.39% 22.82% / 46.6% 17.6% no-repeat no-repeat,
    /* Land */
      radial-gradient(
        ellipse at 50% 50%,
        rgb(0 224 90 / 1) 0%,
        50%,
        rgb(69 168 255 / 0) 54.81%
      )
      62.92% 17.48% / 46.6% 17.6% no-repeat no-repeat,
    /* Land */
      radial-gradient(
        ellipse at 100% 0%,
        rgb(0 224 90 / 1) 0%,
        50%,
        rgb(69 168 255 / 0) 54.81%
      )
      26.37% 60.14% / 23.4% 14.2% no-repeat no-repeat,
    /* Land */
      radial-gradient(
        ellipse at 0% 0%,
        rgb(0 224 90 / 1) 0%,
        50%,
        rgb(69 168 255 / 0) 54.81%
      )
      65.01% 78.18% / 23.4% 34% no-repeat no-repeat,
    /* Land */
      radial-gradient(
        ellipse at 100% 0%,
        rgb(0 224 90 / 1) 0%,
        50%,
        rgb(69 168 255 / 0) 54.81%
      )
      40.66% 78.18% / 15.4% 34% no-repeat no-repeat,
    /* Land */
      radial-gradient(
        ellipse at 100% 100%,
        rgb(0 224 90 / 1) 0%,
        50%,
        rgb(69 168 255 / 0) 54.81%
      )
      26.37% 41.69% / 23.4% 17% no-repeat no-repeat,
    /* Land */
      radial-gradient(
        ellipse at 0% 100%,
        rgb(0 224 90 / 1) 0%,
        50%,
        rgb(69 168 255 / 0) 54.81%
      )
      64.12% 41.69% / 32% 17% no-repeat no-repeat,
    /* Land */
      radial-gradient(
        ellipse at 50% 50%,
        rgb(69 117 255 / 1) 0%,
        50%,
        rgb(42 100 151 / 1) 100%
      )
      49.64% 49.26% / 72.2% 72.8% no-repeat no-repeat; /* Water */
}

.moon {
  position: absolute;
  height: 3em;
  width: 3em;
  border-style: solid;
  border-color: transparent;
  border-radius: 5px 5px 0 0;
  border-radius: 50%;
  animation: orbit 5s linear infinite;

  margin-left: -0.6em;
  margin-top: 4.38em;
}
.moon::before {
  margin-top: 2em;
  margin-bottom: 0.3em;
  height: 0.8em;
  width: 0.8em;
  background-color: silver;
}

.mars {
  position: absolute;
  height: 27em;
  width: 27em;
  border-style: solid;
  border-color: #ccc;
  border-radius: 5px 5px 0 0;
  border-radius: 50%;
  animation: orbit 687s linear infinite;
}
.mars::before {
  margin-top: 8em;
  margin-bottom: 0.3em;
  height: 1.4em;
  width: 1.4em;
  background-color: red;
}

.jupiter {
  position: absolute;
  height: 40em;
  width: 40em;
  border-style: solid;
  border-color: #ccc;
  border-radius: 5px 5px 0 0;
  border-radius: 50%;
  animation: orbit 4332s linear infinite;
}
.jupiter::before {
  margin-top: 10.5em;
  margin-bottom: 0.3em;
  height: 3.5em;
  width: 3.5em;
  background: rgb(84, 84, 69);
  background: linear-gradient(
    145deg,
    rgba(84, 84, 69, 1) 2%,
    rgba(186, 172, 146, 1) 19%,
    rgba(235, 234, 244, 1) 32%,
    rgba(158, 105, 84, 1) 49%,
    rgba(235, 234, 244, 1) 68%,
    rgba(186, 172, 146, 1) 86%,
    rgba(84, 84, 69, 1) 100%
  );
}
.saturn {
  position: absolute;
  height: 48em;
  width: 48em;
  border-style: solid;
  border-color: #ccc;
  border-radius: 5px 5px 0 0;
  border-radius: 50%;
  animation: orbit 10756s linear infinite;
}
.saturn::before {
  margin-top: 14em;
  margin-bottom: 0.3em;
  height: 3em;
  width: 3em;
  background: rgb(92, 94, 93);
  background: linear-gradient(
    145deg,
    rgba(92, 94, 93, 1) 0%,
    rgba(186, 172, 146, 1) 45%,
    rgba(84, 84, 69, 1) 100%
  );
}
.uranus {
  position: absolute;
  height: 54em;
  width: 54em;
  border-style: solid;
  border-color: #ccc;
  border-radius: 5px 5px 0 0;
  border-radius: 50%;
  animation: orbit 30681s linear infinite;
}
.uranus::before {
  margin-top: 18em;
  margin-bottom: 0.3em;
  height: 2.4em;
  width: 2.4em;
  background: #d4fbfb;
}
.neptune {
  position: absolute;
  height: 60em;
  width: 60em;
  border-style: solid;
  border-color: #ccc;
  border-radius: 5px 5px 0 0;
  border-radius: 50%;
  animation: orbit 60266s linear infinite;
}
.neptune::before {
  margin-top: 19.3em;
  margin-bottom: 0.3em;
  height: 2.6em;
  width: 2.6em;
  background: #3d5dee;
}
@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Define similar keyframes for other planets */
