* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.solarSystem {
  position: relative;
  width: 100%;
  height: 100%;
}

.sun {
  position: absolute;
  height: 80px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: yellow;
  -webkit-box-shadow: 0 0 20px 8px rgba(212, 95, 17, 1);
  -moz-box-shadow: 0 0 20px 8px rgba(212, 95, 17, 1);
  box-shadow: 0 0 20px 8px rgba(212, 95, 17, 1);
}

.mercury {
  position: absolute;
  height: 110px;
  width: 110px;
  border: 1px solid #ccc;
  border-radius: 50%;
  top: -55px;
  left: -55px;

  animation: orbit-mercury 5s linear infinite;
}

.venus {
  position: absolute;
  height: 223px;
  width: 223px;
  border: 1px solid #ccc;
  border-radius: 50%;
  animation: orbit-venus 8s linear infinite;
}

@keyframes orbit-mercury {
  0% {
    transform: translate(-200px, -200px) rotate(0deg);
  }
  100% {
    transform: translate(-200px, -200px) rotate(360deg);
  }
}

@keyframes orbit-venus {
  0% {
    transform: translate(-350px, -350px) rotate(0deg);
  }
  100% {
    transform: translate(-350px, -350px) rotate(360deg);
  }
}

/* Define similar keyframes for other planets */
